audioread==3.0.1
datasets==3.3.2
decorator==5.1.1
decord==0.6.0
einops==0.8.0
executor==23.2
huggingface-hub==0.33.0
imageio==2.37.0
librosa==0.10.2.post1
linear-attention-transformer==0.19.1
llvmlite==0.44.0
matplotlib==3.10.0
mediapipe==0.10.20
moviepy==2.1.2
numba==0.61.0
numpy==1.26.4
openai-whisper @ git+https://github.com/openai/whisper.git@517a43ecd132a2089d85f4ebc044728a71d49f6e
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
pandas==2.2.3
protobuf==4.25.6
protobuf3-to-dict==0.1.5
pyannote.audio==3.3.2
pyannote.core==5.0.0
pytorch-metric-learning==2.8.1
scenedetect==0.6.5.2
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
sentence-transformers==4.1.0
soundfile==0.13.1
soxr==0.5.0.post1
spacy==3.8.4
tables==3.10.1
tokenizers==0.21.0
torch==2.6.0
torchaudio==2.6.0
torchmetrics==1.7.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.52.4
ultralytics==8.3.69
ultralytics-thop==2.0.14
urllib3==2.3.0
wandb==0.19.5
whisperx==3.3.1
yt-dlp==2025.6.30
